{% extends 'base.html.twig' %}
{% block script %}<script src="https://js.stripe.com/v3/"></script>{% endblock %}
{% block title %}Commande{% endblock %}

{% block body %}
    <h1 style="color: black">Commande</h1>
   {% if item | length > 0 %}
       <div class="row">
           <div class="col">
<table class="table">
    <thead>
    <tr>
        <th>Photo</th>
        <th>Produit</th>
        <th>Prix</th>
        <th>Quantité</th>
        <th>Total</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {%  for item in item %}
        <tr>
            <td><img style="height: 150px;width: 200px" src="{{ item.product.imagePrincipale.chemin }}"></td>
            <td>{{ item.product.libelle }}</td>
            <td>{{ item.product.prixht }}</td>
            <td>
                <a href="{{ path('cart_moinsun', {'id' : item.product.id}) }}" class="btn btn-warning btn-sm">
                    <i>-</i>
                </a>
                {{ item.quantity }}
             {#   {{ form_start(formLignereserv) }}
                {{ form_widget(formLignereserv) }}
                {{ form_end(formLignereserv) }}#}
                <a href="{{ path('cart_add', {'id' : item.product.id}) }}" class="btn btn-success btn-sm">
                    <i>+</i>
                </a>
            </td>
            <td>{{ item.quantity * item.product.prixht}}</td>
            <td>
                <a href="{{ path('cart_remove',{'id' : item.product.id}) }}" class="btn btn-danger btn-sm">
                    <i><svg class="bi bi-trash" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" clip-rule="evenodd"/>
                        </svg></i>
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <td colspan="4" style="text-align: right">Total : {{ total }}</td>
        <td colspan=""></td>
        <td colspan=""></td>
    </tr>
    </tfoot>
</table>
           </div>
           <div class="column-lg-10">
               <table>
                   <thead>
                   <tr>
                       <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Valider le panier&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                      </tr>
                   </thead>
                   <tbody style="text-align: center">
                   <th><form>
                           <label>Nom :</label>
                           <input type="text" ><br>
                       <label>N°Carte Bleu :</label>
                           <input type="tel" inputmode="numeric" pattern="[0-9\s]{13,19}" autocomplete="cc-number" maxlength="19" placeholder="xxxx xxxx xxxx xxxx">
                       <br><label>CCV :</label>
                           <input type="text">
                       <label></label></form>
                       <a  href="{{ path('commandeclient_facture') }}"><button>Acheter</button></a>
                   </th>

                   </tbody>
                   <tfoot>

                   </tfoot>
               </table>
           </div>
       </div>
    {% else %}

    {% endif %}

    {% block javascript %}

    {% endblock %}
{% endblock %}
